<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>CoronaVirus Tracker Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>


<div class="container">


    <h1>Coronavirus Tracker Application</h1>
    <p>This is a tracker for total number of cases reported</p>


    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4" th:text="${totalReportedCases}">Hello, world!</h1>
            <p class="lead">Total cases reported as of today</p>
            <hr class="my-4">
            <p>
                <span>New cases reported since previous day</span>
                <span th:text="${totalNewCases}"></span>
            </p>
        </div>
    </div>


    <table class="table">
        <tr>
            <th>State</th>
            <th>Country</th>
            <th>Total cases reported</th>
            <th>Changes since previous day</th>
        </tr>

        <tr th:each="locationStat: ${locationStats}">

            <td th:text="${locationStat.state}"></td>
            <td th:text="${locationStat.country}"></td>
            <td th:text="${locationStat.latestTotalCases}">0</td>
            <td th:text="${locationStat.diffFromPrevDay}"></td>

        </tr>
    </table>

</div>


</body>

</html>